body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}

/*header-section*/

.header-area{
    height: 500px;
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 150px;
}

.header-one{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.header-one h2{
    font-size: 50px;
    font-weight: 700;
    color: #000000;
}

.header-one h3{
    font-size: 24px;
    font-weight: 700;
    color:#EC4C7A ;
}

.header-one p{
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    color: #696969;
    margin-bottom: 40px;
}

.link-button{
    text-decoration: none;
    background-color: #EC4C7A;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px 5px 5px 5px;
    padding: 15px 30px 15px 30px;
}

.link-button:hover{
    background-color: #F87D63;
    color: #ffffff;
}

.header-two{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.header-two img{
    width: 80%;
}

/*biography section*/

.bio-area{
    height: 700px;
    background-image:url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 150px;

}

.bio-one{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    padding-top: 3%;
}

.bio-one img{
    width: 80%;
}

.bio-two{
    width: 40%;
    float: left;
    margin-top: 8%;
}

.bio-two h2{
    font-size: 40px;
    font-weight: 700;
    color: #000000;
}

.bio-two p{
    font-size: 19px;
    font-weight: 400;
    text-align: justify;
    color: #696969;
    margin-bottom: 40px;
}

/*my latest work*/

.work-area{
    height: 500px;
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 150px;
    
}

h1{
    font-size: 50px;
    font-weight: 600;
    color: #202428;
    text-align: center;
    padding-bottom: 60px;
}

.my-work{
    width: 100%;
}

.image-one{
    width: 30%;
    float: left;
}

.image-two{
    width: 30%;
    float: left;
}

.image-three{
    width: 30%;
    float: left;
}

/*client section*/

.client-area{
    height: 500px;
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
}

.client{
    text-align: center;
}

.client h1{
    font-size: 40px;
    font-weight: 600;
    color: #202428;
}

.client h3{
    font-size: 24px;
    font-weight: 800;
    color: #202428;
}

.client h4{
    font-size: 16px;
    font-weight: 400;
    color: #343434;
}

.client p{
    font-size: 14px;
    font-weight: 400;
    color: #343434;
    text-align: center;
    margin-bottom: 80px;
}

.button{
    text-decoration: none;
    background-color: #EC4C76;
    color: #ffffff;
    padding: 25px 70px 25px 70px;
    border-radius: 2px 20px 2px 20px
}

/*footer section*/
.footer{
    text-align: center;
}

.footer p{
    color: #343434;
    font-size: 14px ;
}






